# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client Requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/
/exercise-project/vendor/
/exercise-project/.phpunit.result.cache

